*{
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 2fr 20fr 1fr;
}

.header{
    border: 1px black solid;
}

.main{
    border: 1px red solid;
    display: flex;
}

.footer{
    border: 1px yellow solid;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* main area section */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Player Area Section */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.playerArea{
    border: 1px black solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.playerBoard{
    width: 450px;
    height: 450px;
    border: 1px black solid;
    position: relative;
    display: grid;
    z-index: 2;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.playerBoard > div{
    border: 1px black solid;
}

.square.active{
    background-color: rgb(153, 81, 81);
}

.messageContainer{
    border: 1px red solid;
    height: 50px;
    width: 450px;
}

.fakeBoard{
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    pointer-events: none;
}

