*{
    padding: 0px;
    margin: 0px;
    user-select: none;
    box-sizing: border-box;
    font-family: ubuntu;
}
@font-face {
    font-family: Ubuntu;
    src: url('/src/assets/fonts/Ubuntu-Regular.ttf');
}

P{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    width: 100vw;
    background: rgba(47, 143, 190, 0.10);
    touch-action: manipulation;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* main area section */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.startingMenu{
    height: 100%;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gamePhase{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 15px;
}

.gamePhase.preStage{
    justify-content: flex-start !important;
    gap: 15px;
}

.battleshipLogo{
    max-height: 10%;
}

.battleshipImage{
    max-height: 20%;
    margin-top: -20px;
}

.optionsContainer{
    display: flex;
    gap: 15px;
    max-height: 20%;
}

.playAgainstPlayer,
.playAgainstBot,
.easyDifficulty,
.hardDifficulty,
.playMultiplayerButton,
.deployButton{
    border: 1px black solid;
    padding: 8px 15px 8px 15px;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 600;
}

.playAgainstPlayer:hover,
.playAgainstBot:hover,
.easyDifficulty:hover,
.hardDifficulty:hover,
.playMultiplayerButton:hover,
.deployButton:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

.player1NameContainer,
.player2NameContainer{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    gap: 8px;
    position: relative;
}

.player1NameContainer > div:nth-child(1),
.player2NameContainer > div:nth-child(1){
    text-align: center;
}

.player1NameContainer > input:nth-child(2),
.player2NameContainer > input:nth-child(2){
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    width: 150px;
    text-align: center;
}

.player1NameContainer > input:nth-child(2):focus,
.player2NameContainer > input:nth-child(2):focus{
    outline: none;
}

.playMultiplayerButton{
    margin-top: 15px;
}

.errorMessage{
    color: red;
    font-weight: 500;
    position: absolute;
    bottom: -17px;
    font-size: 11px;
    text-align: center;
    width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Player Area Section */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.playerArea{
    width: 70%;
    max-width: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 40%;
    min-height: 420px;
    gap: 15px;
}

.playerBoard{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    cursor: crosshair;
    border-radius: 10px;
    box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.13);
}

.playerArea:nth-of-type(2)> .playerBoard{
    box-shadow: 0px -2px 1px 2px rgba(0, 0, 0, 0.13);
}

.square{
    border: 1px rgba(30, 30, 30, 0.7) solid;
    box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.13);
}

/* Putting border-radius on gamephase board corners */
.topLeft{
    border-top-left-radius: 10px;
}

.topRight{
    border-top-right-radius: 10px;
}

.bottomLeft{
    border-bottom-left-radius: 10px;
}

.bottomRight{
    border-bottom-right-radius: 10px;
}

.square.active{
    background-color: rgb(81, 110, 153);
}

.fakeBoard{
    height: 100%;
    position: absolute;
    width: 100%;
    pointer-events: none;
    border-radius: 10px;
    overflow: hidden;
}

.playerIdentification0,
.playerIdentification1{
    position: absolute;
    width: 100%;
    display: flex;
    font-size: 16px;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
    color: rgb(51, 51, 51);
}

.playerIdentification0{
    bottom: -30px;
}

.playerIdentification1{
    top: -30px;
}

.playerName{
    width: 60px;
    max-width: 60px;
}

.battleshipPreview0,
.carrierPreview0,
.submarinePreview0,
.cruiserPreview0,
.smallshipPreview0,
.battleshipPreview1,
.carrierPreview1,
.submarinePreview1,
.cruiserPreview1,
.smallshipPreview1{
    display: flex;
    border: 1px rgb(120, 120, 120) solid;
}

.battleshipPreview0 > div,
.carrierPreview0 > div,
.submarinePreview0 > div,
.cruiserPreview0 > div,
.smallshipPreview0 > div{
    border-right: 1px rgb(120, 120, 120) solid;
    width: 10px;
    height: 10px;
    box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.39);
}

.battleshipPreview1 > div,
.carrierPreview1 > div,
.submarinePreview1 > div,
.cruiserPreview1 > div,
.smallshipPreview1 > div{
    border-right: 1px black solid;
    width: 10px;
    height: 10px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.39);
}

.battleshipPreview0 > div:last-child,
.carrierPreview0 > div:last-child,
.submarinePreview0 > div:last-child,
.cruiserPreview0 > div:last-child,
.smallshipPreview0 > div:last-child,
.battleshipPreview1 > div:last-child,
.carrierPreview1 > div:last-child,
.submarinePreview1 > div:last-child,
.cruiserPreview1 > div:last-child,
.smallshipPreview1 > div:last-child{
    border-right: none
}

.message{
    font-size: 16px;
    font-style: italic;
    width: max-content;
}

.rotateButton{
    border-radius: 10%;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    content: ' ';
    height: 40px;
    width: 40px;
}

.rotateButton.makeHorizontal{
    background-image: url('./assets/makeVertical.png');
    background-size: cover;
    background-position: center;
}

.rotateButton.makeVertical{
    background-image: url('./assets/makeHorizontal.png');
    background-size: cover;
    background-position: center;
}

.shot{
    background-image: url('./assets/missIcon.png');
    background-position: center;
    background-color: initial;
    background-size: cover;
    transition: all 1s ease;
}

.shot.shipHit{
    background-image: url('./assets/targetIcon.png');
    background-position: center;
    background-size: cover;
    transition: all 1s ease;
}

.shot.shipHit.shipSunk{
    background-color: rgba(255, 0, 0, 0.671);
    background-image: none;
    transition: all 1s ease;
}

.playerBoard .shot.shipHit.shipSunk.horizontalCarrier:nth-child(1){
    border: 10px black solid;
}

.fakeBoard > img{
    background: rgb(36, 36, 36);
    border: 1px rgba(255, 255, 255, 0.329) solid;
}

@media screen and (max-width: 600px){
    .gamePhase{
        max-height: 100vh;
    }

    .playerArea{
        height: auto;
        min-height: 40%;
        gap: 10px;
    }

    .playerBoard{
        width: 100%;
        height: 100%;
        min-width: 340px;
        max-width: 95%;
        min-height: 280px;
        max-height: 400px;
    }

    .playerIdentification0{
        bottom: -25px;
        font-size: 15px;
    }

    .message{
        font-size: 15px;
        text-align: center;
    }

    .playerIdentification1{
        top: -25px;
        font-size: 15px;
    }
}

@media screen and (min-height: 720px){
    .gamePhase{
        height: 100%;
        justify-content: center !important;
        gap: 40px;
    }
}

@media screen and (max-height: 800px) and (min-height: 720px){
    .gamePhase{
        height: 100%;
        justify-content: center !important;
    }

    .playerArea{
        min-height: 35%;
        gap: 10px;
    }

    .playerBoard{
        width: 80%;
        height: 100%;
        max-width: 95%;
        max-height: 400px;
    }

    .playerIdentification0{
        bottom: -25px;
        font-size: 15px;
    }

    .message{
        font-size: 15px;
        text-align: center;
    }

    .playerIdentification1{
        top: -25px;
        font-size: 15px;
    }
}